<!DOCTYPE html>
<html>
<head>
    <title>Guardar</title>
</head>
<body>
    <h1>Guardar contacto</h1>
    <form method="post" action="/">

        <label for="nombre">nombre:</label>
        <input type="text" name="nombre" required><br><br>

        <label for="apellido">apellido:</label>
        <input type="text" name="apellido" required><br><br>

        <label for="telefono">telefono:</label>
        <input type="number" name="telefono" required><br><br>

        <label for="direccion">direccion:</label>
        <input type="text" name="direccion" required><br><br>
        
        <input type="submit" value="Guardar">
    </form>
</body>
</html>