<!DOCTYPE html>
<html>
<head>
<title>PROMO 2024</title>
<meta http-equiv="Content-Type"; charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximun-scale=1" />
<title>Promocion 2024</title>
<link rel="stylesheet" type="text/css" href="static/css/ESTILO.CSS" media="screen">
</head>
<body>
<header>
<a href="index.html" class="logo"><img src="static/img/srt.jpg" alt="item1">Venta de Autos</a>
<nav>
    <ul>
          <li><a href="/">Inicio</a></li>
          <li><a href="/promocion 2024">Promocion 2024</a></li>
          <li><a href="/vehiculos">vehiculos</a></li>
          <li><a href="/contacto">Contacto</a></li>
   </ul>
</nav>
</header>
<section class="zona1"><br><br><br><br><br><br><br>
   <div class="grid-container">

      <div class="grid-item1"><br><a href="">CAMARO SS</a><br><br>
         <br><br><br>
           <img src="static/img/camaross.jpg" alt="item1"></div>
           </div>
         


<footer>
 <center>
        <h3>TODOS LOS DERECHOS RESERVADOS </h3>
        <h4>CD JUAREZ CHIHUAHUA FEBRERO - 2024</h4>
   </center> 
</footer>
</html>

