<!DOCTYPE html>
<br>
<head>
<title>Venta de Autos</title>
<meta http-equiv="Content-Type"; charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximun-scale=1" />
<link rel="stylesheet" type="text/css" href="static/css/ESTILO.CSS" media="screen">
</head>
<body>
<header>
<a href="index.html" class="logo"><img src="static/img/srt.jpg" alt="item1">Venta de Autos</a>
<nav>
  <ul>
    <li><a href="/">Inicio</a></li>
    <li><a href="/promocion 2024">Promocion 2024</a></li>
    <li><a href="/vehiculos">Vehiculos</a></li>
    <li><a href="/contacto">Contacto</a></li>
</ul>
</nav>
    

</header>
<section class="zona1"><br><br><br><br><br><br><br><br><br><br><br><br><br>


<div class="grid-container">

  <div class="grid-item1"><br><a href="recursos/chrysler30016.pdf">CHRYSLER 300S</a><br><br>
 <br><br>
<img src="static/img/300SBLACK.jpg" alt="item1"></div>

  <div class="grid-item1"><br><a href="recursos/charger16.pdf">CHARGER</a><br><br>
    <br><br>
<img src="static/img/charger16.jpg" alt="item1"></div>


  <div class="grid-item1"><br><a href="recursos/challenger16.pdf">Challenger</a><br><br>
<br><br><br>
<img src="static/img/challenger16.jpg" alt="item1"></div>
</div>

<div class="grid-container">

    <div class="grid-item1"><br><a href="">ALTIMA</a><br><br>
   <br><br>
  <img src="static/img/altima.jpg" alt="item1"></div>
  
    <div class="grid-item1"><br><a href="">FORD GT</a><br><br>
       <br><br>
  <img src="static/img/fordgt.jpg" alt="item1"></div>
  
  
    <div class="grid-item1"><br><a href="">SUPRA</a><br><br>
  <br><br><br>
  <img src="static/img/supra.jpg" alt="item1"></div>


  </div>

  <div class="grid-container">

    <div class="grid-item1"><br><a href="">CAMARO</a><br><br>
   <br><br>
  <img src="static/img/camaro2.jpg" alt="item1"></div>
  
    <div class="grid-item1"><br><a href="">CAMARO ZL1</a><br><br>
      <br><br>
  <img src="static/img/zl1.jpg" alt="item1"></div>
  
  
    <div class="grid-item1"><br><a href="">CAMARO SS</a><br><br>
<br><br><br>
  <img src="static/img/camaross.jpg" alt="item1"></div>
  </div>

  <div class="grid-container">

    <div class="grid-item1"><br><a href="">MUSTANG</a><br><br>
  <br><br>
  <img src="static/img/mustang1.jpg" alt="item1"></div>
  
    <div class="grid-item1"><br><a href="">MUSTANG</a><br><br>
    <br><br>
  <img src="static/img/mustang2.jpg" alt="item1"></div>
  
  
    <div class="grid-item1"><br><a href="">450SR S</a><br><br>
 <br><br><br>
  <img src="static/img/450srs.jpg" alt="item1"></div>
  </div>

</section>




</body>
<br></br>
<br></br>

</html>

